@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}

/* top header style start */
.top-header{
	padding: 8px 0px;
	background: rgb(31, 26, 39);
}
.top-header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-header .container ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
}
.top-header .container ul li{
	color: #fff;
}
.top-header .container ul li a{
	text-decoration: none;
	color: #fff;
	margin-left: 7px;

	font-size: 14px;
}
.info-block li{
	margin-right: 15px;
}
.log-block li{
	margin-left: 8px;
}
.log-block li i{
	font-size: 14px;
}
/* top header style end */

.main_header{
	position: sticky;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 999999;
}
#navbar_top{
	background: green;
}
#navbar_top.fixed-top{
	/* background-color: #DDFFBC; */
	background: green;
	transition: all 0.3s ease-in-out;
	animation: animateMe 0.2s linear;
}
@keyframes animateMe{
	0%{
		transform: translateY(-80px);
	}	
	100%{
		transform: translateY(0);
	}	
}



.navbar-brand img{
	margin-top: -7px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

button[aria-expanded="true"]{
	background-image: url(../images/cancel.png);
	background-size: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 99999;
	filter: grayscale(10);
	filter: invert(60%);
}
button[aria-expanded="true"] .navbar-toggler-icon{
	opacity: 0;
}
#main_nav{}
#main_nav li {} 
#main_nav li a {
	color: #fff;
	font-weight: 400;
}
#main_nav .nav-item a.active{
	color: #5CAC0E;
}